<div class="product-info product-sku{% if current_variant.sku == blank %} visibility-hidden{% endif %}" id="Sku-{{ section.id }}" {{ block.shopify_attributes }}>
  {%- if block.settings.sku_title != blank -%}
    <span class="sku-label">{{ block.settings.sku_title }}</span>
  {%- endif -%}
  <span class="sku-value">{{ current_variant.sku }}</span>
</div>
