<a class="wishlist-custom-action wishlist" data-handle="{{ product.handle }}">
    <span class="icon"><i class="feather-heart"></i></span>
    <span class="title">{{ 'products.product.wishlist' | t }}</span>
</a>